{% extends 'main/base.html' %}

{% block title %}About - My Blog{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow-sm p-4">
                <h1 class="text-center mb-4">Mening Blogim Haqida</h1>
                <p class="lead text-center">Bu mening shaxsiy blogim. Bu yerda turli mavzularda postlar joylashtiraman.</p>
                <p class="text-center">Agar siz ham o‘z fikrlaringizni baham ko‘rmoqchi bo‘lsangiz, ro‘yxatdan o‘ting va o‘z postlaringizni yarating!</p>
            </div>
        </div>
    </div>
{% endblock %}